/* @media screen and (max-width: 1400px) {
	#profile {
		height: 60vh;
		margin-bottom: 6rem;
	}
	.about-containers {
		flex-wrap: wrap;
	}
	#contact,
	#projects {
		height: fit-content;
	}
	.answer {
		margin-top: 5rem;
		font-size: larger;
	}
	section {
		margin: 0 5rem;
	}
} */

@media screen and (max-width: 1200px) {
	#desktop-nav {
		display: none;
	}
	#hamburger-nav {
		display: flex;
	}
	#experience,
	.experience-details-container {
		margin-top: 2rem;
	}
	#profile,
	.section-container {
		display: block;
	}
	.arrow {
		display: none;
	}
	section {
		height: fit-content;
		margin: 0 5rem;
	}
	.section-container {
		height: fit-content;
	}

	.section__pic-container {
		width: 275px;
		height: 275px;
		margin: 0 auto 2rem;
	}
	.about-containers {
		margin-top: 0;
	}
	.answer {
		margin-top: 3rem;
		font-size: larger;
	}

	.answer h1 {
		padding: 1.5rem;
		/* width: 80%; */
		font-size: 2.3rem;
	}
	#answers-div {
		margin-top: 2rem;
		gap: 0;
		text-align: center;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	/* #profile {
		margin-top: 2rem;
	} */

	section h1 {
		font-size: 2rem;
		text-align: center;
	}
	.experience-sub-title {
		font-size: 2.3rem;
	}
	.scroll-down-link {
		position: absolute;
		z-index: 100;
		cursor: pointer;
		height: 60px;
		width: 80px;
		margin: 0px 0 0 -25px;
		line-height: 60px;
		left: 50%;
		bottom: 2.5rem;
		color: #fff;
		text-align: center;
		font-size: 70px;
		text-decoration: none;
	}
	.contact-info-upper-container {
		/* width: 50%; */
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1050px) {
	body:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		background: url(assets/sky-full-of-stars.png) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.answer h1 {
		padding: 1.5rem;
		font-size: 1.5rem;
	}
	.answer {
		margin-top: 1.5rem;
	}

	#question {
		font-size: 3rem;
	}
	.contact-info-container {
		width: 100%;
	}
	.contact-info-upper-container {
		width: 60%;
		flex-wrap: wrap;
	}
	.logo img {
		margin-top: 0.5rem;
		width: 7rem;
	}
}

@media screen and (max-width: 600px) {
	/* body {
		background-image: url(assets/sky-full-of-stars-mobile.png);
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	} */

	body:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		background: url(assets/sky-full-of-stars-mobile.png) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.scroll-down-link {
		position: absolute;
		z-index: 100;
		cursor: pointer;
		height: 45px;
		width: 60px;
		margin: 0px 0 0 -25px;
		line-height: 60px;
		left: 50%;
		bottom: 2.5rem;
		color: #fff;
		text-align: center;
		font-size: 70px;
		text-decoration: none;
	}
	/* INITIAL QUESTION */
	.logo img {
		margin-top: 0.5rem;
		width: 5rem;
	}
	#question {
		font-size: 2.3rem;
	}
	.title {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	.answer {
		margin-top: 1rem;
	}

	#answers-div {
		margin-top: 2rem;
		gap: 0;
		text-align: center;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	.answer h1 {
		font-size: 1rem;
		padding: 1.6rem;
		font-weight: lighter;
		border: 1px solid white;
	}

	#profile {
		margin-bottom: 0;
		display: flex;
		height: 55vh;
	}
	/* ARTICLE */
	.experience {
		margin-top: 5rem;
	}
	section {
		padding-top: 0;
		margin: 0 2rem;
		max-width: 600px;
	}
	section h2 {
		font-size: 1rem;
	}
	section h1 {
		font-size: 1.2rem;
		text-align: center;
	}
	article {
		font-size: 0.5rem;
	}

	.article-container {
		padding: 0 2rem;
		margin-top: 2rem;
	}
	.experience-sub-title {
		font-size: 1.5rem;
	}
	footer nav {
		height: fit-content;
		margin-bottom: 2rem;
	}

	article h4 {
		font-size: 0.8rem;
	}

	.details-container {
		padding: 2rem 2rem;
	}
	#bio {
		font-size: 1rem;
	}
	#book-1 {
		padding-bottom: 0.5rem;
	}
	#book-2 {
		padding-bottom: 0.5rem;
	}
	.about-containers,
	.contact-info-upper-container,
	.btn-container {
		flex-wrap: wrap;
	}
	.contact-info-container {
		margin: 0;
		gap: 0.5rem;
	}
	.contact-info-container p,
	.nav-links li a {
		font-size: 1rem;
	}

	.logo {
		font-size: 1.5rem;
	}
	.nav-links {
		flex-direction: column;
		gap: 0.5rem;
		text-align: center;
	}
	.section__pic-container {
		width: auto;
		height: 46vw;
		justify-content: center;
	}
	.section__text__p2 {
		font-size: 1.25rem;
	}

	.text-container {
		text-align: justify;
	}
	.contact-info-upper-container {
		gap: 1rem;
		flex-direction: column;
		padding: 1rem;
	}
	.contact-info-container {
		flex-direction: column;
	}
	#contact,
	footer {
		height: 40vh;
	}
}
